{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="shortcut icon" type="image/ico" href="{% static 'images/favicon.ico' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@400;700&display=swap" rel="stylesheet">
    <title>HOMEPAGE</title>
</head>

<body>
    <div class="header">
        <div class="header__container">
            <div class="logo">
                <div class="header__logo">
                    <img src="{% static 'images/logo.svg'%}" style="height:40px" alt="Logo">
                </div>
            </div>
            <div class="header_items">
                <div class="header__button">ABOUT</div>
                <div class="header__button">HOME</div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content_container">
            <div class="article">
                <div class="article_image">
                    <img src="{% static 'images/img_template.svg'%}">
                </div>
                <div class="article_text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quisquam, quod nobis et
                        praesentium consequatur esse excepturi cum culpa amet temporibus fuga? Odit, voluptatibus velit
                        ratione in optio cum provident!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima amet ipsum doloremque, quidem
                        cumque suscipit dolores repudiandae. Mollitia fuga error at aut accusamus reiciendis tempora,
                        quae, expedita odit unde cum.
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint dolor molestiae beatae, quo aut
                        ipsum sunt pariatur placeat natus exercitationem voluptas perspiciatis commodi? Porro unde
                        officia dolores explicabo, illum reprehenderit!
                    </p>
                </div>
            </div>
            <div class="article">
                <div class="article_text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quisquam, quod nobis et
                        praesentium consequatur esse excepturi cum culpa amet temporibus fuga? Odit, voluptatibus velit
                        ratione in optio cum provident!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima amet ipsum doloremque, quidem
                        cumque suscipit dolores repudiandae. Mollitia fuga error at aut accusamus reiciendis tempora,
                        quae, expedita odit unde cum.
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint dolor molestiae beatae, quo aut
                        ipsum sunt pariatur placeat natus exercitationem voluptas perspiciatis commodi? Porro unde
                        officia dolores explicabo, illum reprehenderit!
                    </p>
                </div>
                <div class="article_image">
                    <img src="{% static 'images/img_template.svg'%}">
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="bottom">
        <!-- <div class="bottom_container">
            <div class="bottom__button">our work</div>
            <div class="bottom__button">our contact</div>
            <div class="bottom__button">our price</div>
        </div> -->
    </div>

    <!-- <h1>HOMEPAGE</h1> -->
    <!-- <img src="{% static 'myprojects/images/tesla.ico' %}" alt="My image"> -->
</body>

</html>