/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/* color: antiquewhite */
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body,
h1 {
	line-height: 1;
	background-color: rgb(128, 128, 128, 0.5);
	/* font-family: sans-serif; */
	font-family: 'Spline Sans Mono', monospace, sans-serif;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	color: rgb(204, 255, 0);
	background: #000;
}

/* .header {
} */

.header_container {
	position: fixed;
	left: 7%;
	width: 86%;
	display: flex;
	justify-content: end;
}

.header__logo {
	display: block;
	margin: 0;
	width: 100%;
	padding: 20px 10px 20px 10px;
}

.header__button {
	position: relative;
	font-size: 146%;
	font-weight: bold;
	letter-spacing: 0.01rem;
	transform: scaleY(1.3);
	font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
	text-transform: uppercase;
	padding: 40px 10px 20px 10px;
}

.content-box {
	position: relative;
	top: 100px;
	height: 85vh;

}

.content-box_container {
	max-width: 87%;
	position: relative;
	left: 7%;
}

.article_row {
	display: flex;
	justify-content: end;
	flex-direction: row;
}

.article_row-rev {
	display: flex;
	justify-content: end;
	flex-direction: row-reverse;
}


.article__img {
	width: 40%;
}

h3,
p {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.02rem;
	line-height: 1.2rem;
}

.article__title {
	text-transform: uppercase;
	font-weight: 600;
	padding-bottom: 10px;
	padding-top: 4px;
}

.article__text {
	padding-left: 1rem;
	padding-right: 1rem;
	font-family: 'Roboto', sans-serif;
	text-transform: lowercase;
	font-weight: 100;
	width: 60%;
}

.direction_row {
	flex-direction: row;
}

.direction_row-rev {
	display: flex;
	flex-direction: row-reverse;
}

.body_container {
	display: block;
}

.bottom_container {
	display: flex;
	justify-content: end;
	position: relative;
	left: 7%;
	width: 86%;
}

a {
	text-decoration: none;
	color: inherit;
	font-weight: 700;
	padding-bottom: 10px;
	padding-top: 4px;
	display: block;

}

.contacts {
	text-transform: uppercase;
	display: flex;
	justify-content: end;
	width: 30%;
}

.sm__icons {
	width: 40px;
}

.sm__icons {
	padding-right: 20px;
	padding-left: 10px;
}

.sm-links {
	display: flex;
	align-items: center;
	width: 70%;
}